<html lang="en" id="grad">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GastronoME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&family=Satisfy&display=swap" rel="stylesheet">
</head>

<body class="block">
  <header class="mt-5">
  
  </header>
    <nav class=" navbar has-text-weight-bold">
    <div class="navbar-brand">
    <a class="navbar-item glow-item" style="color: white;" href="/">Home</a>
   
    
    {{#if logged_in}}
    <button id="logout" class="button is-rounded is-outlined" style="background-color: black; color: rgb(172, 176, 196)">Logout</button>
    {{else}}
    <a class="navbar-item glow item" style="color: white;" href="/login">Login</a>
    {{/if}}
    </div>
    
  </nav>
  <main>
    <div class="container-is-vcentered">
<div class="columns">
    {{{body}}}
</div>
 
</div>
  </main>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>