<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/dfwjyw6uw/image/upload/v1712633463/gastronome-logo_ylqry3.png">
    <title>GastronoMe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/authenticated-style.css">
    <link rel="stylesheet" href="/css/single-recipe-style.css">
    <link rel="stylesheet" href="/css/my-recipes-style.css">
    <link rel="stylesheet" href="/css/new-recipe-style.css">

</head>

<body class="has-navbar-fixed-top">
    <div class="container-for-nav">
        <nav class="navbar is-white is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a>
                        <img src="/img/logo-03.png" alt="website logo" style="max-height: 110px" class="py-2 px-2">
                        <div class="navbar-brand">
                            <a>
                                <img src="/img/logo-03.png" alt="website logo" style="max-height: 110px"
                                    class="py-2 px-2">
                            </a>
                            <a class="navbar-burger" id="burger">
                                {{!-- These empty span tags create the Bulma navbar burger icon --}}
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <div class="navbar-menu" id="nav-links">
                            {{!-- The below navbar-end class places all of the nested navbar items on the right side
                            (end) of
                            the navbar. A class of navbar-start would place all of the nested navbar items on the left
                            side
                            (start) of the navbar. --}}
                            <div class="navbar-end">
                                {{!-- I'm thinking this View All Recipes link could lead to a page where the user sees
                                all
                                details, including ingredients and directions, for all the recipes, unsorted. This would
                                be
                                different than the /all page, which would be displayed in this layout, and that would be
                                a wierd
                                self referential link. --}}
                                <a href="/" class="navbar-item is-active">Home</a>
                                <a href="/all" class="navbar-item is-active">View All Recipes</a>
                                <a href="/my-recipes" class="navbar-item">My Recipes</a>
                                <a href="/new-recipe" class="navbar-item">Create a New Recipe</a>
                                {{!-- <a href="/search" class="navbar-item">{{> search-icon}}</a> --}}
                                <div class="navbar-item" id="search-modal-link">{{> search-icon}}</div>
                                <a class="navbar-item" id="logout">Logout</a>
                            </div>


                        </div>
        </nav>
    </div>
    <hr class="navbar-divider">
    <div class="columns" id="div-for-main-content">
        {{{body}}}
    </div>

    <footer>
        <div class="accordion">
            <div class="contentBx first-box">
                {{!-- <div class="label">GastronoMe</div> --}}

                <div class="accordion">
                    <div class="contentBx first-box">
                        <div class="label">GastronoMe</div>
                        <div class="content">
                            <p><a href="/our-story">Our Story</a></p>
                            <p><a href="/all">Recipes</a></p>
                        </div>
                    </div>
                    <div class="contentBx">
                        <div class="label">Our Company</div>
                        <div class="content">
                            <p><a href="/careers">Careers</a></p>
                            <p><a href="/sustainability">Sustainability</a></p>
                        </div>
                    </div>
                    <div class="contentBx third-box">
                        <div class="label">Contact Us</div>
                        <div class="content">
                            <p><a href="/faq">Frequently Asked Questions</a></p>
                            <p><a href="/privacy">Privacy</a></p>
                        </div>
                    </div>
                </div>

                <div id="footer-bottom">
                    <div id="footer-img-container">
                        <img src="/img/tomato.jpg" alt="tomato image" style="max-height: 45px"></img>
                        <img src="/img/plate-and-utensils.png" alt="plate and utensils image"
                            style="max-height: 45px"></img>
                        <img src="/img/pear.png" alt="pear image" style="max-height: 45px"></img>
                        <img src="/img/radish2.png" alt="radish image" style="max-height: 45px"></img>
                        <img src="/img/fork-and-knife.png" alt="fork and knife image" style="max-height: 45px"></img>
                        <img src="/img/apple.png" alt="apple image" style="max-height: 40px"></img>
                        <img src="/img/beetroot.png" alt="beetroot image" style="max-height: 45px"></img>
                        <img src="/img/plate-and-utensils.png" alt="plate and utensils image"
                            style="max-height: 45px"></img>
                        <img src="/img/tomato.jpg" alt="tomato image" style="max-height: 45px"></img>
                        <img src="/img/fork-and-knife.png" alt="fork and knife image" style="max-height: 45px"></img>
                        <img src="/img/apple.png" alt="apple image" style="max-height: 40px"></img>
                        <img src="/img/radish2.png" alt="radish image" style="max-height: 45px"></img>
                        <img src="/img/pear.png" alt="pear image" style="max-height: 45px"></img>
                        <img src="/img/plate-and-utensils.png" alt="plate and utensils image"
                            style="max-height: 45px"></img>
                        <img src="/img/pear.png" alt="pear image" style="max-height: 45px"></img>
                    </div>
                </div>
    </footer>

    <div class="modal" id="search-modal">
        <div class="modal-background">
        </div>
        <div class="modal-card has-text-centered">
            <header class="modal-card-head">
                <div class="field">
                    <div class="control">
                        <input id="search-input" class="input is-medium" type="text" placeholder="Search Recipes"/>
                    </div>
    </div>
                
                <button class="delete ml-5 mb-6" id="inner-modal-close" aria-label="close"></button>
            </header>
            <section class="modal-card-body" id="search-results">
                <div class="content"></div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
        <button class="modal-close is-large delete" id="outer-modal-close" aria-label="close"></button>
    </div>

    <script src="/js/authenticated.js"></script>
    <script src="/js/search.js"></script>
</body>

</html>