<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/dfwjyw6uw/image/upload/v1712633463/gastronome-logo_ylqry3.png">
    <title>GastronoMe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/authenticated-style.css">
    <link rel="stylesheet" href="/css/single-recipe-style.css">
    <link rel="stylesheet" href="/css/my-recipes-style.css">
    <link rel="stylesheet" href="/css/all-recipes-style.css">
    <link rel="stylesheet" href="/css/create-update-style.css">
    <link rel="stylesheet" href="/css/search-style.css">
</head>

<body class="has-navbar-fixed-top">
    <div class="container-for-nav">
        <nav class="navbar is-white is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a>
                        <img src="/img/logo-03.png" alt="website logo" style="max-height: 110px"
                            class="py-2 px-2">
                    </a>
                    <a class="navbar-burger mr-6" id="burger">
                        {{!-- These empty span tags create the Bulma navbar burger icon --}}
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="navbar-menu" id="nav-links">
                    {{!-- The below navbar-end class places all of the nested navbar items on the right side (end) of the navbar. --}}
                    <div class="navbar-end mr-6">
                        <a href="/" class="navbar-item is-active">Home</a>
                        <a href="/all" class="navbar-item is-active">View All Recipes</a>
                        <a href="/new-recipe" class="navbar-item">Create a New Recipe</a>
                        <div class="navbar-item" id="search-modal-link">{{> search-icon}}</div>
                        <a class="navbar-item" id="logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <hr class="navbar-divider">
    <div id="div-for-main-content">
        {{{body}}}
    </div>

    <footer>
        <div class="accordion">
            <div class="contentBx first-box">
                <div class="accordion">
                    <div class="contentBx first-box">
                        <div class="label">GastronoMe</div>
                        <div class="content">
                            <p><a href="/our-story" class="footer-link">Our Story</a></p>
                            <p><a href="/all" class="footer-link">Recipes</a></p>
                        </div>
                    </div>
                    <div class="contentBx">
                        <div class="label">Our Company</div>
                        <div class="content">
                            <p><a href="/careers" class="footer-link">Careers</a></p>
                            <p><a href="/sustainability" class="footer-link">Sustainability</a></p>
                        </div>
                    </div>
                    <div class="contentBx third-box">
                        <div class="label">Contact Us</div>
                        <div class="content">
                            <p><a href="/faq" class="footer-link">Frequently Asked Questions</a></p>
                            <p><a href="/privacy" class="footer-link">Privacy</a></p>
                        </div>
                    </div>
                </div>

                <div id="footer-bottom">
                    <div id="footer-img-container">
                        <img src="/img/tomato.jpg" alt="tomato image" style="max-height: 45px"></img>
                        <img src="/img/plate-and-utensils.png" alt="plate and utensils image"
                            style="max-height: 45px"></img>
                        <img src="/img/pear.png" alt="pear image" style="max-height: 45px"></img>
                        <img src="/img/radish2.png" alt="radish image" style="max-height: 45px"></img>
                        <img src="/img/fork-and-knife.png" alt="fork and knife image" style="max-height: 45px"></img>
                        <img src="/img/apple.png" alt="apple image" style="max-height: 40px"></img>
                        <img src="/img/beetroot.png" alt="beetroot image" style="max-height: 45px"></img>
                    </div>
                </div>
    </footer>

    <div class="modal" id="search-modal">
        <div class="modal-background">
        </div>
        <div class="modal-card has-text-centered">
            <header class="modal-card-head">
                <div class="field modal-field">
                    <div class="control modal-control">
                        <input id="search-input" class="input is-medium" type="text" placeholder="Search Recipes" />
                    </div>
                </div>

                <button class="delete ml-5 mb-6" id="inner-modal-close" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="modal-grid" id="search-results"></div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
        <button class="modal-close is-large delete" id="outer-modal-close" aria-label="close"></button>
    </div>

    <script src="/js/authenticated.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>