<div id="all-recipes-container">
    <h2 id="all-recipes-pg-title">All Recipes</h2>

{{!-- The below div is the grid wrapper --}}
    <div class="grid">
        {{#each recipes as |recipe|}}

        {{> recipe-details-2}}

        {{/each}}
    </div>
</div>