
<h2 id="all-recipes-pg-title">All Recipes</h2>

    <div>
        {{#each recipes as |recipe|}}
            <div>
                {{> recipe-details-2}}
            </div>
        {{/each}}
    </div>
    
</div>
