   <div class="container">
        <section class="section">
            <div>
                <h1 class="title">Join Our Team</h1>
                <p>Are you passionate about food, technology, and community? Do you thrive in a dynamic, collaborative environment where creativity and innovation are encouraged? If so, we'd love to hear from you!</p>
                <h2 class="subtitle">Current Openings</h2>
                <ul>
                    <li><strong>Web Developer:</strong> We're looking for a talented web developer to join our team and help us build and maintain our recipe website. Experience with HTML, CSS, JavaScript, and web frameworks like React or Vue.js is required.</li>
                    <li><strong>Content Creator:</strong> Are you a food enthusiast with a knack for writing and photography? Join our content team and help us create engaging recipes, articles, and visual content for our website and social media channels.</li>
                    <li><strong>Community Manager:</strong> Do you have a passion for building and nurturing online communities? We're seeking a community manager to engage with our users, moderate discussions, and foster a supportive and inclusive online environment.</li>
                </ul>
                <h2 class="subtitle">Why Work With Us?</h2>
                <p>At <strong><i>GastronoMe</i></strong>, we're more than just a company – we're a family. We value creativity, diversity, and collaboration, and we're committed to providing a supportive and inclusive work environment where everyone can thrive. When you join our team, you'll have the opportunity to make a meaningful impact, grow both personally and professionally, and be part of something truly special.</p>
                <h2 class="subtitle">How to Apply</h2>
                <p>If you're interested in joining our team, please send your resume and a brief cover letter to careers@gastronome.com. Be sure to include the position you're applying for in the subject line. We can't wait to hear from you!</p>
            </div>
        </section>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>