<div class="container">
    <section class="section">
        <div>
            <h1 class="title">Frequently Asked Questions</h1>

            <div class="faq-item">
                <h2 class="subtitle">Are the recipes suitable for beginners?</h2>
                <div class="answer">
                    <p>Most of our recipes are designed to be accessible to cooks of all skill levels, including beginners. Each recipe includes clear instructions and helpful tips as needed to guide you through the cooking process. Some of our recipes use more advanced cooking techniques—feel free to reach out to your fellow <strong><i>GastronoMe</i></strong> community members if you would like additional guidance on a technique!</p>
                </div>
            </div>
            </br>

            <div class="faq-item">
                <h2 class="subtitle">Can I request a specific type of recipe?</h2>
                <div class="answer">
                    <p>Absolutely! We welcome recipe requests from our users. If there's a particular dish or cuisine you'd like to see featured, feel free to reach out to us, and we'll do our best to accommodate your request.</p>
                </div>
            </div>
            </br>

            <div class="faq-item">
                <h2 class="subtitle">How can I find a recipe if I'm not sure what I'm looking for?</h2>
                <div class="answer">
                    <p>Clicking the View All Recipes link in the navigation bar and browsing the All Recipes page is a great way to get inspired! There is enough variety in cuisines, ingredients, and preparation/culinary techniques that you're bound to find something you like! Another option is to use the recipe search functionality, which can be accessed by clicking the magnifying glass icon in the navigation bar. Type your search term to generate results for recipes including that term in their name!</p>
                </div>
            </div>
            </br>

            <div class="faq-item">
                <h2 class="subtitle">Are the ingredients for your recipes easy to find?</h2>
                <div class="answer">
                    <p>Usually, yes! We strive to make our platform and our recipes accessible for everyone. Many of our recipes use readily available ingredients found in most grocery stores. However, <strong><i>GastronoMe</i></strong> is a diverse and global community, and ingredients can vary in availability and accessibility in different regions and countries. When in doubt, visiting your local ethnic grocery stores and food markets is a great way to source ingredients.</p>
                </div>
            </div>
            </br>

            <div class="faq-item">
                <h2 class="subtitle">Can I update a recipe once I have posted it?</h2>
                <div class="answer">
                    <p>Yes! Just navigate to your My Recipes page by clicking the Home link in the navigation bar, locate the recipe you would like to modify, and click the Update Recipe button. If you've made an improvement or a new spin on your dish, your fellow foodies would love to see it! You can also delete a recipe by clicking the Delete Recipe button for the recipe on the My Recipes page. </p>
                </div>
            </div>
            </br>
    </section>
</div>