<div class="box ">
<div class="login-card my-5">
  <div class="control">
  <h2>Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">E-Mail:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
  </div>
</div>
<div>
  <p class="align-right">Don't have an account yet? Sign up <a href="/signup"><strong>here</strong></a></p>
</div>
</div>
</main>
<script src="/js/login.js"></script>