<div class="container mt-6" style="width: 95vw;">
    <h1 class="title is-2">Privacy Policy</h1>
    
    <p class="subtitle is-4">This privacy policy discloses the privacy practices for <i>GastronoMe</i> and governs the privacy of its users who choose to use it.</p>
    </br>
    </br>
    
    <h2 class="subtitle is-4">Information Collection, Use, and Sharing</h2>
    <p>We do not collect any personal information from users of our website.</p>
    </br>
    </br>
    
    <h2 class="subtitle is-4">Links</h2>
    <p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
    </br>
    </br>
    
    <h2 class="subtitle is-4">Security</h2>
    <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
    </br>
    </br>
    
    <h2 class="subtitle is-4">Updates</h2>
    <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
    </br>
    </br>
    
    <h2 class="subtitle is-4">Contact Us</h2>
    <p>If you have any questions or concerns about our privacy policy, please contact us via email at <a href="mailto:gastronome@email.com">gastronome@email.com</a>.</p>
</div>
