<div class="field">
    <div class="control">
        <input class="input" type="text" placeholder="Search for a recipe" id="search-input">
    </div>
</div>

<div id="search-results"></div>

<script src="/js/search.js"></script>
