<div class="login-card">
  <div class="form-container">
    <div class="control">
      <div id="logo-container">
        <img src="/img/logo-03.png" alt="website logo" id="logo">
      </div>

      <div id="text-container">
        <h2 class="page-title" id="title-text">Sign up to join the community!</h2>
      <form action="/signup"class="form signup-form">
            <div class="form-group">
          <label for="username-signup"><span>Username:</span></label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup"><span>Email:</span></label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup"><span>Password:</span></label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="button is-black is-large" type="submit">Sign Up</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div id="switch-container">
  <p id="switch">Have an account? <a href="/"><strong>Log in here!</strong></a></p>
</div>
</main>
<script src="/js/signup.js"></script>