    <div class="container">
        <section class="section">
            <div>
                <h1 class="title">Our Commitment to Sustainability</h1>
                <p>At <strong><i>GastronoMe</i></strong>, we believe in the importance of sustainability and environmental stewardship. We are committed to reducing our environmental impact and promoting sustainable practices throughout our operations.</p>
                </br>
                <strong><h2 class="subtitle">Sustainable Sourcing</h2></strong>
                <p>We strive to source our ingredients from local, organic, and sustainable suppliers whenever possible. By supporting local farmers and producers, we reduce the carbon footprint associated with transportation and help promote biodiversity and soil health.</p>
                </br>
                <strong><h2 class="subtitle">Waste Reduction</h2></strong>
                <p>We are dedicated to minimizing waste in all aspects of our business. This includes reducing food waste in our recipes by utilizing whole ingredients efficiently, as well as implementing recycling and composting programs in our facilities to divert waste from landfills.</p>
                </br>
                <strong><h2 class="subtitle">Energy Efficiency</h2></strong>
                <p>We are continuously seeking ways to improve energy efficiency and reduce our carbon emissions. This includes investing in energy-efficient appliances and equipment, optimizing our transportation logistics, and exploring renewable energy sources for our operations.</p>
                </br>
                <strong><h2 class="subtitle">Community Engagement</h2></strong>
                <p>We believe in the power of community engagement to drive positive change. We actively engage with our customers, partners, and local communities to raise awareness about sustainability issues and empower individuals to make environmentally conscious choices.</p>
                </br>
                <strong><h2 class="subtitle">Continuous Improvement</h2></strong>
                <p>We recognize that sustainability is an ongoing journey, and we are committed to continuous improvement. We regularly assess our practices, set ambitious sustainability goals, and work collaboratively to achieve them.</p>
                </br>
                <strong><h2 class="subtitle">Join Us in Our Sustainability Journey</h2></strong>
                <p>Together, we can make a difference. Join us in our sustainability journey by supporting our mission, adopting sustainable practices in your own life, and spreading awareness about the importance of environmental stewardship. Together, we can create a more sustainable future for generations to come.</p>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>