* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    top: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E3E3E3;
    /* margin-bottom: 40px; */
}

.container-for-nav {
    height: 100px;
    /* position: sticky;
    top: 0; */
    border-bottom-style: solid;
    border-bottom-color: #8D0000;
    border-bottom-width: thick;
    margin-top: -40px;
}

nav {
    height: 110px;
}

.container {
    height: 100%;
    border-bottom-style: solid;
    border-bottom-color: #8D0000;
}

.navbar-brand {
    height: 110px;
    position: fixed; 
    left: 20px; 
    top: 0px; 
    bottom: auto; 
    width: 100%; 
    z-index: auto; 
    border-style: none; background-color: rgb(255, 255, 255); 
    opacity: 1; 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 8px;
} 

.navbar-menu {
    height: 110px;
} 

#navbar-space {
    width: 100px;
}

#logo-span {
    display: flex;
    align-content: center;
    justify-content: center;
    /* margin-top: 5px;
    margin-bottom:5px;
    height: 100%; */
    width: 200px;
    height: 110px;
    width: 100%;
    height: 100%;
}

#div-for-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1023px) {
    .navbar {
      display: flex;
      flex-wrap: wrap;
    }
    .navbar-brand {
      min-width: 100%;
    }
    .navbar-menu {
      margin-left: auto;
      min-width: 50%;
    }
    .navbar-top-margin {
        margin-top: 100px;
        height: 100vh;
    }
}

.accordion {
    background: white;
}

.accordion .contentBx {
    /* position: relative; */
    margin: 0px 0px;
    /* margin: 10px 0px; */

    border-bottom-style: solid;
    border-bottom-color: #8D0000;
    border-bottom-width: 2px;
}

.accordion .first-box {
    border-top-style: solid;
    border-top-color: #8D0000;
    border-top-width: 2px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: white;
    cursor: pointer;
    margin-left: 20px;
}

.accordion .contentBx .label::before {
    content: "+ ";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
    content: "- ";
}

.accordion .contentBx .content {
    /* position: relative; */
    padding: 0px;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: hidden;
    line-height: 10px;
    margin-left: 40px;
}

.accordion .contentBx.active .content {
    height: 60px;
    padding: 0px;
    line-height: 10px;
    margin-left: 40px;
}

#footer-bottom {
    background-color: white;
    bottom: 0px;
    width: 100%;
    height: 90px;
    padding: 20px 5px;
}

#footer-img-container {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
