/* a {
    color: hotpink;
  } */


  .glowing-box {
    width: 100%;
    height: 50%;
    background-color: #0c34e6;
    border: dotted solid double  2px #ffffff;
    box-shadow:
      inset 30px 0 60px rgb(17, 1, 17),  /* left magenta */
      inset -60px 0 120px rgb(255, 0, 128); /* right cyan */
  }
  
  #grad {
    background-image: linear-gradient(hotpink, white)
  }