<html lang="en" style="background-color: black">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GastronoME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>
  <header>
    <h1 class="quote title is-2 is-medium is-uppercase has-text-weight-bold has-text-centered py-3 my-2 is-centered"
      style="color: rgb(11, 167, 115)">
      GastronoME, Your Home for Cooking!
  </h1>
  </header>
    <nav>
    <a href="/">Home</a>
    {{#if logged_in}}
    <button id="logout" class="button is-rounded is-outlined" style="background-color: black; color: aquamarine">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
<div class="recipe container-is-fluid">
    {{{body}}}
</div> 
  </main>
{{#if logged_in}}
<script src="../../public/js/logout.js"></script>
</body>
</html>